---
import { Icon } from 'astro-icon/components';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Posts - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			h1 {
				@apply flex items-center justify-center mb-12 gap-4;
			}
			ul {
				@apply flex flex-wrap gap-8 list-none m-0 p-0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				@apply transition duration-200 ease-in-out;
			}
			ul li:first-child {
				@apply w-full mb-4 text-center;
			}
			ul li:first-child img {
				@apply w-full;
			}
			ul li:first-child .title {
				@apply text-4xl;
			}
			ul li img {
				@apply mb-2 rounded-lg;
			}
			ul li a {
				@apply block;
			}
			.title {
				@apply m-0 text-gray-800 dark:text-gray-200 leading-8;
			}
			.date {
				@apply m-0 text-gray-500;
			}
			ul li a:hover h4,
			ul li a:hover .date {
				@apply text-sky-500;
			}
			ul a:hover img {
				@apply shadow-lg;
			}
			@media (max-width: 720px) {
				ul {
					@apply gap-2;
				}
				ul li {
					@apply w-full text-center;
				}
				ul li:first-child {
					@apply mb-0;
				}
				ul li:first-child .title {
					@apply text-2xl;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>
					<span>Blog</span>
					<a target="_blank" href="/posts/rss.xml">
						<Icon name="mdi:rss" />
					</a>
				</h1>
				<ul>
					{
						posts
							.map((post) => (
								<li>
									<a href={`/posts/${post.slug}/`}>
										<img width={720} height={360} src={post.data.heroImage ?? '/images/placeholder.webp'} alt="" />
										<h4 class="title">{post.data.title}</h4>
										<p class="date">
											<FormattedDate date={post.data.pubDate} />
										</p>
									</a>
								</li>
							))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
