---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const featuredProjects = (await getCollection('projects', (item) => item.data.featured));
const latestPosts = (await getCollection('posts'))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="header">Hey, I'm Chris.</h1>
			<h4>Welcome to my personal website, portfolio, and blog.</h3>
			<p>
				I am a software engineer with a love for open source, learning, and lesser known/used languages such as
				Crystal, Nim, Zig, and Roc. I am also a fan of TypeScript, Go, and occasionally even PHP.
			</p>
			<p>
				When I'm not programming, I'm probably doing something with one of my many other hobbies such as 3d printing,
				photography, or playing video games. My whole life is an ADHD and Autism fueled adventure, so who knows
				what I'll be up to next.
			</p>
			<h5>My Links</h5>
			<p>
				I don't spend a ton of time on social media, but you will see me posting occasionally on
				<a href="https://watzonmanor.com/@watzon" title="It's really Misskey, but Mastodon is more well known">Mastodon</a>
				and on my main <a href="https://tiktok.com/@3dprintifer">TikTok account</a>. You can also check out my projects
				on <a href="https://github.com/watzon">Github</a>.
			</p>
			<p>
				While the blog doesn't have a newletter, I do have a Mastodon bot you can follow <a href="https://watzonmanor.com/@watzontech">@watzontech@watzonmanor.com</a>.
			</p>
			<h5>Featured Projects</h5>
			<div class="project-list">
				{
					featuredProjects.map((project) => (
						<a href={project.data.linkOnly ? project.data.url : `/projects/${project.slug}/`} title={project.data.name}>
							<b class="name">{project.data.name}</b>
							-
							<span class="description">{project.data.description}</span>
						</a>
					))
				}
			</div>
			<h5>From the Blog</h5>
			<div class="post-list">
				{
					latestPosts.map((post) => (
						<a href="{post.url}" title={post.data.title}><b>{post.data.title}</b></a>
					))
				}
			</div>
		</main>
		<Footer />
	</body>
</html>

<style lang="postcss">
	:root {
		--gradient-colors-light: #b36b6b, #d99e85, #e6d9a3, #7fbf8e, #7fbfbf, #7f7fbf, #b37fbf, #b36b6b, #b36b6b;
		--gradient-colors-dark: #ffb3b3, #ffd9b3, #ffffb3, #b3ffcc, #b3ffff, #b3b3ff, #ffb3ff, #ffb3b3, #ffb3b3;
	}

	:global(.dark) .header {
		background: linear-gradient(90deg, var(--gradient-colors-dark));
		background-size: 400% 400%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: gradient 15s linear infinite;
	}

	:global(:not(.dark)) .header {
		background: linear-gradient(90deg, var(--gradient-colors-light));
		background-size: 400% 400%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: gradient 15s linear infinite;
	}

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	.project-list {
		@apply mb-6;
	}

	.project-list a {
		@apply flex flex-row gap-2 items-baseline;
	}

	.project-list .name {
		@apply text-lg;
	}

	.project-list .description {
		@apply text-base;
	}

	.post-list {
		@apply flex flex-col gap-1 mb-6 text-lg;
	}
</style>